@charset "UTF-8";

* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color1: #EEF8FF;
  --color2: #D1F5FF;
  --color3: #78E3FD;
  --color4: #6ccee7;
  --color5: #5343FF;
}

.background{
    background-color: #EEF8FF;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.headBar{
  border-bottom: #5343FF 1px solid;
  height: 130px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.navegation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80%;
  left: 30vw;
  padding: 0;
  display: flex;
  width: fit-content;
}

.btn {
  background: none;
  outline: none;
  border: none;
  margin: 0px 25px;
  font-size: 16pt;
  font-weight: 400;
  cursor: pointer;
}

.btn:hover{
  color: #6ccee7;
}

.companyImg {
  position: absolute;
  display: table-column;
  align-items: flex-end;
  justify-content: flex-end;
  left: 0;
  top: 30px;
  margin-left: 30px;
  
}

.userImg {
  position: absolute;
  display: block;
  align-items: flex-end;
  justify-content: flex-end;
  right: 0;
  top: 30px;
  margin-right: 30px;
  margin-top: 30px;
}