@charset "UTF-8";

* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color1: #EEF8FF;
  --color2: #D1F5FF;
  --color3: #78E3FD;
  --color4: #6ccee7;
  --color5: #5343FF;
}

.background{
    background-color: #EEF8FF;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.formBox{
  background: transparent;
  border: solid var(--color3) 3px;
  border-radius: 10px;
  width: 400px;
  padding: 40px;
  box-shadow: 2px 2px 4px #62bbd1;
}


.formBox > h1 {
  margin-bottom: 30px;
  font-size: 40px;
  color: var(--color5);
  text-align: center;
}

.formBox .box-user{
  position: relative;
}

.formBox .box-user input{
  width: 100%;
  padding: 10px 0px;
  padding-left: 10px;
  outline: none;
  border: solid var(--color5) 1px;
  background-color: transparent;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 30px;
  
}

.formBox .box-user label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0px;
  padding-left: 10px;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.formBox .box-user input:focus~label, .formBox .box-user input:valid~label{
  top: -30px;
  left: -10px;
  color: var(--color5);
}

.forget {
  display: flex;
  justify-content: flex-end;
  float: right;
  text-decoration: none;
  color: var(--color5);
  width: fit-content;
  left: 0;
}

.btn{
  position: relative;
  display: flex;
  float: left;
  justify-content: center;
  top: 0;
  margin-top: 0;
  background-color: var(--color2);
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
  border: solid var(--color5) 1px;
  box-shadow: 2px 2px 4px #382dafaa; 
}

.btn:hover{
  background-color: var(--color4);
  cursor: pointer;
}

.btn2 input:hover{
  cursor: pointer;
}

#user {
  display: flex;
  position: absolute;
  padding-left: 92%;
  padding-top: 0;
  top: 10px;
  pointer-events: none;
}

#password {
  display: flex;
  position: absolute;
  padding-left: 92%;
  padding-top: 0;
  top: 10px;
  pointer-events: none;
}

