.background{
    background-color: #283747;
    height: 100vh;
}

.center {
    background-color: #283747;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .border {
    width: 960px;
    height: 540px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
   
  }

  .fakeFoundation {
    width: 950px;
    height: 530px;
    background-color: #283747;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .circle{
    width: 150px;
    height: 150px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    margin-top: 13vh;
    margin-left: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circleBackground{
    width: 140px;
    height: 140px;
    background-color: #283747;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headBackground{
    width: 40px;
    height: 40px;
    background-color: #283747;
    border-radius: 50%;
  }

  .PersonBody{
    width: 40px;
    height: 40px;
    background-color: #283747;
    border-radius: 80%;
    position: relative;
  }